venv/
notebooks/
Eye-Closed-Open/
images_predictions/
video_predictions/
__pycache__/
/best.pt 
best2.pt
best3.pt
yolov8n-seg.pt
yolov8n.pt
segmentation/Seg_Dataset_Eye
segmentation/**/*.jpg
segmentation/**/*.jfif
segmentation/**/*.png
pupil_diameter/PupilDiameter.zip
pupil_diameter/PupilDiameter